@charset "utf-8";
/* CSS Document */

*:focus {
    -webkit-box-shadow: 0 0 1px 2px #3397db;
    box-shadow: 0 0 1px 2px #3397db;
}


body,
td,
th,
p {
    font: normal 12pt Arial, Helvetica, sans-serif;
    color: #6b6b6b;
    line-height: 1.5;
}


body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
}


ul,
li {
    font: normal 10pt Arial, Helvetica, sans-serif;
    color: #333;
}


a {
    color: #79b6ef;
    text-decoration: none;
}


    a:hover,
    a:focus {
        color: #79b6ef;
        text-decoration: underline;
    }


    a img {
        border: none 0 #fff;
    }


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}


article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    padding: 8px;
    z-index: 1100;
    text-decoration: none;
}


    .skip-link:focus {
        top: 0px;
        text-decoration: none;
    }


#maincontent {
    background-color: #f3f3f3;
    min-height: 100vh; /*calc(100vh - 148px);  100% minus header and footer heights */
}


#footer {
    background-color: #444;
    color: #b1b1b1;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
    text-align: center;
    border-bottom: 2px solid #c15641;
}


    nav h1 {
        margin: auto;
        padding-top: 10px;
    }


        nav h1 a {
            color: #6b6b6b;
            font-size: 14pt;
            font-weight: 200;
            letter-spacing: 10px;
            text-transform: uppercase;
            padding: 8px;
        }


    nav .logo {
        width: 60px;
        vertical-align: middle;
        margin-right: 7px;
    }


#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    margin: 0;
    width: 100%;
}


    /* Display list items side by side */
    #breadcrumb li {
        display: inline;
        font-size: 14pt;
    }


        /* Add a slash symbol (/) before/behind each list item */
        #breadcrumb li + li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }


        /* Add a color to all links inside the list */
        #breadcrumb li a {
            color: #006cc9;
            text-decoration: none;
            font-size: 14pt;
        }


            /* Add a color on mouse-over */
            #breadcrumb li a:hover {
                color: #01447e;
                text-decoration: underline;
            }


/* ====================== Map ====================== */
#map-container {
    border-top: 2px solid #fdfdfd;
}


#map, #static_map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}


.inside#map, #static_map {
    display: none;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
    width: 100%;
    background-color: #c15641; /*to meet AA specs*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


    .filter-options h2 {
        color: #fff;
        font-size: 14pt;
        font-weight: bold;
        letter-spacing: 1pt;
        line-height: 1;
        margin: 0 20px;
        display: inline-block;
    }


    .filter-options select {
        background-color: white;
        border: 1px solid #fff;
        font: normal 11pt Arial,sans-serif;
        height: 35px;
        letter-spacing: 0;
        margin: 10px;
        padding: 0 10px;
        width: 200px;
    }


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
}


    #restaurants-list li {
        background-color: #fff;
        font-family: Arial,sans-serif;
        margin: 15px auto;
        min-height: 380px;
        text-align: right;
        width: 270px;
        border-radius: 40px 0;
        border: 1px solid #dedede;
    }


    #restaurants-list .restaurant-img {
        background-color: #ccc;
        display: block;
        margin: 0;
        max-width: 100%;
        min-height: 248px;
        min-width: 100%;
        border-radius: 40px 0 0;
    }


    #restaurants-list li h3 {
        color: #cd4c00;
        font: 200 14pt Arial,sans-serif;
        letter-spacing: 0;
        line-height: 1.3;
        margin: 20px 0 10px;
        text-transform: uppercase;
        padding: 0 20px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }


    #restaurants-list p:first-of-type {
        font-weight: bold;
    }


    #restaurants-list p:last-of-type {
        min-height: 50px !important;
    }


    #restaurants-list p {
        margin: 0;
        font-size: 11pt;
        text-align: left;
        padding: 0 20px;
    }


    #restaurants-list li a {
        background-color: #cd4c00;
        color: #fff;
        display: inline-block;
        font-size: 10pt;
        margin: 15px 0 0;
        padding: 8px 30px 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 40px 0;
    }


        #restaurants-list li a:hover,
        #restaurants-list li a:focus {
            outline: 0;
            -webkit-box-shadow: 0 0 1px 2px #3397db;
            box-shadow: 0 0 1px 2px #3397db;
        }


/* ====================== Restaurant Details ====================== */
.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.inside #map-container {
    height: 400px;
    width: 100%;
    background-color: #ccc;
    margin-top: 55px;
    border-left-width: 0;
    position: relative;
    border-bottom: 2px solid #fdfdfd;
}


.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}


.inside #footer {
    bottom: 0;
    position: absolute;
    /*width: calc(50% - 52px);*/
    width: 100%;
    box-sizing: border-box;
}


#restaurant-name {
    color: #cd4c00;
    font: 200 20pt Arial,sans-serif;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
    width: 100%;
}


#restaurant-img {
    width: 90%;
    border-radius: 40px 0 0;
    border: 1px solid #D0D1D7;
}


#restaurant-address {
    font-size: 12pt;
    margin: 10px 0;
    color: #c14700;
    text-align: center;
}


#restaurant-cuisine {
    background-color: #c15540;
    color: #fff;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


#restaurant-container,
#reviews-container {
    /*border-bottom: 1px solid #d9d9d9;
   border-top: 1px solid #fff;
    padding: 160px 40px 30px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    margin: 20px auto 0;
    max-width: 1000px;
}

#restaurant-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 130px;
}

    #restaurant-container .box {
        width: 50%;
    }

#reviews-container {
    padding: 30px 80px 80px;
}


    #reviews-container h2 {
        color: #cd4c00;
        font-size: 24pt;
        font-weight: 300;
        letter-spacing: -1px;
        padding-bottom: 1pt;
    }


#reviews-list {
    margin: 0;
    padding: 0;
}


    #reviews-list li {
        background-color: #fff;
        border: 2px solid #f3f3f3;
        display: block;
        list-style-type: none;
        margin: 0 0 60px;
        overflow: hidden;
        position: relative;
        width: 100%;
        border-radius: 40px 0;
    }


        #reviews-list li p {
            margin: 0 0 10px;
            padding-left: 30px;
            padding-right: 30px;
        }


            #reviews-list li p:first-child {
                background-color: #c15540;
                color: #FFF;
                padding: 15px 30px;
                font-size: 20pt;
                border-radius: 40px 0 0;
            }


            #reviews-list li p:nth-child(2) {
                position: absolute;
                top: 25px;
                right: 0;
                color: #f0f0f0;
                font-size: 12pt;
            }


            #reviews-list li p:nth-child(3) {
                font-weight: bold;
                font-size: 14pt;
                margin-top: 20px;
            }


            #reviews-list li p:last-child {
                text-align: justify;
                margin: 20px auto;
            }

#restaurant-hours {
    margin: 0px auto;
}


    #restaurant-hours td {
        color: #666;
    }


        #restaurant-hours td:first-of-type {
            vertical-align: top;
            font-weight: bold;
        }


.rating {
    font-size: 20pt;
}


.gold {
    color: gold;
}


/* ===================== Media queries for index.html and common markups ================= */
@media only screen and (max-width: 450px) {
    nav .logo {
        width: 45px;
    }


    nav h1 a {
        font-size: 12pt;
        letter-spacing: 5px;
    }


    #restaurants-list {
        grid-template-columns: 100%;
    }


        #restaurants-list li {
            width: 100%;
        }


    .filter-options h2 {
        display: block;
        padding-top: 10px;
    }


    .filter-options select {
        width: 80%;
        margin-left: 20px;
    }
}


@media only screen and (min-width: 451px) and (max-width: 667px) {
    nav .logo {
        width: 50px;
    }


    nav h1 a {
        font-size: 12pt;
        letter-spacing: 5px;
    }


    #restaurants-list {
        grid-template-columns: 100%;
    }


        #restaurants-list li {
            width: 80%;
        }


    .filter-options h2 {
        display: block;
        padding-top: 10px;
    }


    .filter-options select {
        width: 42%;
        margin-left: 20px;
    }
}


@media only screen and (min-width: 668px) and (max-width : 960px) {
    #restaurants-list {
        grid-template-columns: 50% 50%;
    }
}


@media only screen and (min-width : 961px) and (max-width : 1300px) {
    #restaurants-list {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* ========================= Media queries for restaurant details ========================= */
@media only screen and (min-width: 668px) and (max-width : 960px) {
    #restaurant-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }


    #reviews-container {
        width: 100%;
    }
}

@media only screen and (max-width: 667px) and (min-width: 450px) {
    #restaurant-container {
        width: 70%;
    }
}

@media only screen and (max-width: 667px) {

    #restaurant-container .box {
        width: 100%;
    }


    #reviews-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }


    #restaurant-img,
    #restaurant-cuisine {
        width: 100%;
    }


    #breadcrumb li {
        font-size: 12pt;
    }


        #breadcrumb li a {
            font-size: 12pt;
        }
}


@media only screen and (max-width: 450px) {

    #restaurant-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }


    #breadcrumb {
        padding: 10px 15px 16px;
    }


    #restaurant-name {
        font-size: 16pt;
    }


    #reviews-container h2 {
        font-size: 20pt;
    }


    nav h1 a {
        font-size: 10pt;
        letter-spacing: 3px;
    }


    #reviews-list li p:first-child {
        font-size: 14pt;
    }


    #reviews-list li p:nth-child(2) {
        top: 20px;
        font-size: 10pt;
    }
}
